<div id="sidebar-wrapper" style="float: left;">
    <nav id="spy">
        <ul class="sidebar-nav nav">
            <li>
                <a href="" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">Categories<span class="caret"></span> <b></b>
                </a>
                <div class="collapse" id="toggleDemo" style="height: 0px;">
                    <ul class="nav nav-list">
                        <li><a ui-sref="addCategory" href="../category/add.html">Add Category</a></li>
                        <li><a ui-sref="myCategory" href="../category/index.html">View My Categories</a></li>
                        <li><a ui-sref="allCategory" href="../category/all.html">View All Categories</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="" data-toggle="collapse" data-target="#toggleDemo1" data-parent="#sidenav01" class="collapsed">Posts<span class="caret"></span> <b></b>
                </a>
                <div class="collapse" id="toggleDemo1" style="height: 0px;">
                    <ul class="nav nav-list">
                        <li><a ui-sref="addPost" href="../post/add.html">Add Post</a></li>
                        <li><a ui-sref="myPost" href="../post/index.html">View My Posts</a></li>
                        <li><a ui-sref="allPost" href="../post/all.html">View All Posts</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="" data-scroll="">
                    <span class="fa fa-anchor solo">Users  <b></b></span>
                </a>
            </li>
        </ul>
    </nav>
</div>